<div>
  <div class="mt-4 p-5 rounded">
    <div class="text-center">
      <h1>CyberQuest</h1>
      <h4>CyberSavvy Quiz</h4>
    </div>
  </div>

  <div class="container"> 
    <div class="d-flex justify-content-between">
        <div class="text-left">
            <h5><- Previous</h5>
        </div>
        <div class="text-right">
            <h5>Next -></h5>
        </div>
    </div>

    <div class="card mb-3">
        <h5 class="card-header border-0 bg-white">Question 1</h5>
        <div class="card-body">
            <h5>What is Cyber Security ?</h5>
        </div>
    </div>

    <div class="card mb-3">       
        <div class="card-body bg-light">
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <b>Cyber security provides security against malware</b>
                </div>
                <div class="text-right">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">       
        <div class="card-body bg-light">
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <b>Cyber security provides security against cyber-terrorist</b>
                </div>
                <div class="text-right">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">       
        <div class="card-body bg-light">
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <b>Cyber security provides security from cyber attacks</b>
                </div>
                <div class="text-right">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">       
        <div class="card-body bg-light">
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <b>All of the mentioned</b>
                </div>
                <div class="text-right">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
